# Általános ideiglenes fájlok
*.log
*.tmp
*.cache

# PHP környezeti fájlok
.env
.env.*

# Composer fájlok
/vendor/
/composer.lock

# Node.js modulok (ha van frontend)
node_modules/

# IDE-specifikus fájlok
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS-specifikus fájlok
.DS_Store
Thumbs.db

# Git mentéshez nem szükséges fájlok
*.bak
*.swp
*.orig

# Futtatható binárisok vagy generált fájlok
*.phar
/public/build/
/public/cache/
